body {
  font-family: serif;
}

p {
  margin: 0;
  text-indent: 20pt;
}

p + aside {
  margin: 1em 0 2em;
}

/* a line at the end of the text with the date of finishing, or author's name, or something like that */
p.signature {
  margin-top: 2em;
  margin-bottom: 3em;
  font-style: italic;
  text-align: right;
}

#title * {
  text-align: center;
  text-indent: 0;
  margin-left: 0;
}

#title h1 {
  margin-bottom: 1cm;
  font-size: 32pt;
  line-height: 38pt;
  font-weight: normal;
}

#title p.author {
  font-size: 12pt;
  margin: 1em;
}

blockquote.epigraph {
  margin-left: 40%;
  margin-bottom: 2em;
}

blockquote.poem p {
  text-indent: 0;
  margin-bottom: 1em;
}
